node_modules/
dist/
.build/
*.xcuserstate
xcuserdata/
DerivedData/
.DS_Store
.env
android/local.properties
android/.gradle/
android/build/
android/*/build/
android/.kotlin/
react-native/node_modules
react-native/lib/
react-native/example/node_modules/
react-native/example/ios/Pods/
react-native/example/ios/build/
react-native/example/android/.gradle/
react-native/example/android/build/
react-native/example/android/app/build/
react-native/example/vendor/
react-native/android/build/
react-native/android/.cxx/
react-native/example/android/app/.cxx/
react-native/example/android/local.properties
react-native/example/ios/*.xcworkspace/xcshareddata/
flutter/volai_sdk/.dart_tool/
flutter/volai_sdk/example/.dart_tool/
flutter/volai_sdk/example/build/
flutter/volai_sdk/example/ios/Pods/
flutter/volai_sdk/example/ios/.symlinks/
flutter/volai_sdk/example/ios/Flutter/ephemeral/
flutter/volai_sdk/example/android/.gradle/
flutter/volai_sdk/example/android/local.properties
flutter/volai_sdk/example/.flutter-plugins*
flutter/volai_sdk/example/pubspec.lock
flutter/volai_sdk/pubspec.lock
